<a href="https://colab.research.google.com/github/skang06/baltimore-nassau-county/blob/master/Baltimore_Nassau_sunwookang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparing Household Income in Baltimore City, MD and Nassau County, NY with Opportunity Atlas Data

A look into

# import libraries

In [ ]:
%pip install plotly

# import libraries

#for data analysis
import pandas as pd
import numpy as np

#for visuals
import plotly.express as px

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)

# import data

In [ ]:
# import data

# data 

#household income for 25th percentile in Nassau County
df_25th_nassau = pd.read_csv("https://raw.githubusercontent.com/skang06/baltimore-nassau-county/master/shown_tract_kfr_rP_gP_p25%20(11).csv")

#household income for 50th percentile in Nassau County
df_50th_nassau = pd.read_csv("https://raw.githubusercontent.com/skang06/baltimore-nassau-county/master/shown_tract_kfr_rP_gP_p50%20(7).csv")

#household income for 75th percentile in Nassau County
df_75th_nassau = pd.read_csv("https://raw.githubusercontent.com/skang06/baltimore-nassau-county/master/shown_tract_kfr_rP_gP_p75%20(2).csv")

#household income for 25th percentile in Baltimore City
df_25th_baltimore = pd.read_csv("https://raw.githubusercontent.com/skang06/baltimore-nassau-county/master/shown_tract_kfr_rP_gP_p25%20(12).csv")

#household income for 50th percentile in Baltimore City
df_50th_baltimore = pd.read_csv("https://raw.githubusercontent.com/skang06/baltimore-nassau-county/master/shown_tract_kfr_rP_gP_p50%20(8).csv")

#household income for 75th percentile in Baltimore City
df_75th_baltimore = pd.read_csv("https://raw.githubusercontent.com/skang06/baltimore-nassau-county/master/shown_tract_kfr_rP_gP_p75%20(3).csv")

# preview data

In [ ]:
# preview data

df_25th_nassau.head()
df_25th_baltimore.head()

         tract            Name  Household_Income_rP_gP_p25
0  24005403803  Pikesville, MD                     69429.0
1  24005491000   Baltimore, MD                     61635.0
2  24005411309  Perry Hall, MD                     54068.0
3  24005403601   Baltimore, MD                     53687.0
4  24005403500  Pikesville, MD                     51834.0

In [ ]:
df_25th_baltimore.columns

Index(['tract', 'Name', 'Household_Income_rP_gP_p25'], dtype='object')

In [ ]:
df_25th_baltimore["Name"].unique()

array(['Pikesville, MD', 'Baltimore, MD', 'Perry Hall, MD',
       'Catonsville, MD', 'Evergreen, Baltimore, MD', 'Ellicott City, MD',
       'Towson, MD', 'Parkville, MD', 'Mount Washington, Baltimore, MD',
       'Nottingham, MD', 'Fells Point, Baltimore, MD', 'Owings Mills, MD',
       'Taylor Village, Ellicott City, MD', 'Riverside, Baltimore, MD',
       'Relay, Halethorpe, MD', 'West Elkridge, Elkridge, MD',
       'Rosedale, MD', 'Homeland, Baltimore, MD', 'Linthicum Heights, MD',
       'North Harford Road, Baltimore, MD', 'Hanover, MD', 'Essex, MD',
       'Normandy, Ellicott City, MD', 'Halethorpe, MD', 'Elkridge, MD',
       'Cheswolde, Baltimore, MD', 'Dundalk, MD',
       'Lochearn, Pikesville, MD', 'Severn, MD', 'Glen Burnie, MD',
       'Kendall Ridge, Columbia, MD', 'Canton, Baltimore, MD',
       'Pasadena, MD', 'Edgemere, MD', 'Middle River, MD',
       'White Marsh, MD', 'Woodring, Baltimore, MD',
       'Windsor Mill, Milford Mill, MD', 'South Gate, Glen Burnie, MD',
       'Cross Country, Baltimore, MD', 'Waltherson, Baltimore, MD',
       'Riviera Beach, MD', 'Windsor Mill, Baltimore, MD',
       'Violetville, Baltimore, MD', 'Savage, Jessup, MD',
       'Lake Walker, Baltimore, MD', 'Randallstown, MD',
       'Waterloo, Elkridge, MD', 'Columbia, MD',
       'Chestnut Hill Cove, Riviera Beach, MD',
       'Gwynn Oak, Pikesville, MD', 'Glen, Baltimore, MD',
       'Joseph Lee, Baltimore, MD', 'Brooklyn Park, MD',
       'Fallstaff, Baltimore, MD', 'Fifteenth Street, Baltimore, MD',
       'Roland Park, Baltimore, MD', 'Hampden, Baltimore, MD',
       'Woodlawn, MD', 'Glenham-Belford, Baltimore, MD',
       'Sparrows Point, MD', 'Radnor - Winston, Baltimore, MD',
       'Cold Springs, Baltimore, MD', 'Locust Point, Baltimore, MD',
       'Tuscany - Canterbury, Baltimore, MD', 'Woodberry, Baltimore, MD',
       'Upper Fells Point, Baltimore, MD', 'Lauraville, Baltimore, MD',
       'South Baltimore, Baltimore, MD', 'Morrell Park, Baltimore, MD',
       'Harford - Echodale - Perring Parkway, Baltimore, MD',
       'Gwynn Oak, Baltimore, MD',
       'Lansdowne - Baltimore Highlands, Lansdowne, MD',
       'Bolton Hill, Baltimore, MD', 'Baltimore Highlands, Baltimore, MD',
       'Ednor Gardens - Lakeside, Baltimore, MD',
       'Ramblewood, Baltimore, MD', 'Westgate, Baltimore, MD',
       'Loch Raven, Baltimore, MD', 'Downtown, Baltimore, MD',
       'Lansdowne - Baltimore Highlands, Halethorpe, MD',
       'Gwynn Oak, Woodlawn, MD', 'Gwynn Oak, Lochearn, MD',
       'Cedmont, Baltimore, MD', 'Irvington, Baltimore, MD',
       'Riverside Park, Baltimore, MD',
       'Medford - Broening, Baltimore, MD', 'Brooklyn, Baltimore, MD',
       'Baltimore County, MD', 'East Arlington, Baltimore, MD',
       'Hillen, Baltimore, MD', 'Arcadia, Baltimore, MD',
       'Belair - Edison, Baltimore, MD', 'Mid-Govans, Baltimore, MD',
       'Armistead Gardens, Baltimore, MD', 'Idlewood, Baltimore, MD',
       'New Northwood, Baltimore, MD', 'Mid-Charles, Baltimore, MD',
       'Walbrook, Baltimore, MD', 'Patterson Park, Baltimore, MD',
       'Beechfield, Baltimore, MD', 'Hanlon Longwood, Baltimore, MD',
       'Burleith-Leighton, Baltimore, MD', 'Perring Loch, Baltimore, MD',
       'Remington, Baltimore, MD', 'Rognel Heights, Baltimore, MD',
       'Pigtown, Baltimore, MD', 'Medfield, Baltimore, MD',
       'Frankford, Baltimore, MD', 'West Forest Park, Baltimore, MD',
       'Parkside, Baltimore, MD', 'Woodbrook, Baltimore, MD',
       'Allendale, Baltimore, MD', 'Garwyn Oaks, Baltimore, MD',
       'Better Waverly, Baltimore, MD', 'Yale Heights, Baltimore, MD',
       'Windsor Hills, Baltimore, MD', 'Lakeland, Baltimore, MD',
       'Darley Park, Baltimore, MD', 'Winston - Govans, Baltimore, MD',
       'Little Italy, Baltimore, MD', 'Dorchester, Baltimore, MD',
       "Saint Joseph's, Baltimore, MD", 'Mosher, Baltimore, MD',
       'Hollins Market, Baltimore, MD',
       'Reisterstown Station, Baltimore, MD',
       'Coppin Heights, Baltimore, MD', 'Old Goucher, Baltimore, MD',
       'Edmondson, Baltimore, MD', 'Central Park Heights, Baltimore, MD',
       'Arlington, Baltimore, MD', 'Park Circle, Baltimore, MD',
       'Cherry Hill, Baltimore, MD', 'Cedonia, Baltimore, MD',
       'Barclay, Baltimore, MD', 'Bridgeview-Greenlawn, Baltimore, MD',
       'Lexington, Baltimore, MD', 'Poppleton, Baltimore, MD',
       'Curtis Bay, Baltimore, MD', 'Greenmount West, Baltimore, MD',
       'Rosemont, Baltimore, MD',
       'Coldstream - Homestead - Montebello, Baltimore, MD',
       'Sandtown-Winchester, Baltimore, MD', 'Harwood, Baltimore, MD',
       'Langston Hughes, Baltimore, MD', 'Edgecomb, Baltimore, MD',
       'Reservoir Hill, Baltimore, MD', 'Berea, Baltimore, MD',
       'Broadway East, Baltimore, MD', 'Harlem Park, Baltimore, MD',
       "O'Donnell Heights, Baltimore, MD", 'Mount Clare, Baltimore, MD',
       'Perkins Homes, Baltimore, MD', 'Pratt Monroe, Baltimore, MD',
       'Butchers Hill, Baltimore, MD', 'Midtown Edmondson, Baltimore, MD',
       'McCulloh Homes, Baltimore, MD', 'Upton, Baltimore, MD',
       'Bentalou-Smallwood, Baltimore, MD',
       'NW Community Action, Baltimore, MD',
       'Claremont - Freedom, Baltimore, MD', 'Penn North, Baltimore, MD',
       'Mondawmin, Baltimore, MD', 'Mill Hill, Baltimore, MD',
       'East Baltimore Midway, Baltimore, MD', 'Oliver, Baltimore, MD',
       'Madison - Eastend, Baltimore, MD', 'Gay Street, Baltimore, MD',
       'Westport, Baltimore, MD', 'Shipley Hill, Baltimore, MD',
       'Pleasant View Gardens, Baltimore, MD',
       'Druid Heights, Baltimore, MD', 'Franklin Square, Baltimore, MD',
       'Milton - Montford, Baltimore, MD',
       'Johnson Square, Baltimore, MD', 'Penn - Fallsway, Baltimore, MD',
       'Cross Keys, Baltimore, MD'], dtype=object)

In [ ]:
df_25th_baltimore['Name'].nunique()

177

In [ ]:
df_25th_baltimore.head()

         tract            Name  Household_Income_rP_gP_p25
0  24005403803  Pikesville, MD                     69429.0
1  24005491000   Baltimore, MD                     61635.0
2  24005411309  Perry Hall, MD                     54068.0
3  24005403601   Baltimore, MD                     53687.0
4  24005403500  Pikesville, MD                     51834.0

In [ ]:
df_25th_baltimore.describe()

              tract  Household_Income_rP_gP_p25
count  3.990000e+02                  393.000000
mean   2.425916e+10                28929.610687
std    2.520080e+08                 8417.775684
min    2.400373e+10                16364.000000
25%    2.400542e+10                22391.000000
50%    2.451001e+10                27473.000000
75%    2.451020e+10                33279.000000
max    2.451028e+10                69429.000000

In [ ]:
df_25th_baltimore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tract                       399 non-null    int64
 1   Name                        399 non-null    object
 2   Household_Income_rP_gP_p25  393 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.5+ KB

In [ ]:
df_25th_baltimore.describe()

              tract  Household_Income_rP_gP_p25
count  3.990000e+02                  393.000000
mean   2.425916e+10                28929.610687
std    2.520080e+08                 8417.775684
min    2.400373e+10                16364.000000
25%    2.400542e+10                22391.000000
50%    2.451001e+10                27473.000000
75%    2.451020e+10                33279.000000
max    2.451028e+10                69429.000000

# Filter data

In [ ]:
df_25th_bmore1 = df_25th_baltimore[df_25th_baltimore["Name"] == "Baltimore, MD"]

In [ ]:
df_25th_bmore1.head()

         tract           Name  Household_Income_rP_gP_p25
1  24005491000  Baltimore, MD                     61635.0
3  24005403601  Baltimore, MD                     53687.0
5  24005490601  Baltimore, MD                     51258.0
6  24005490603  Baltimore, MD                     51212.0
7  24005490602  Baltimore, MD                     50819.0

In [ ]:
df_25th_bmore1.tail()

           tract           Name  Household_Income_rP_gP_p25
360  24510060400  Baltimore, MD                     19360.0
362  24510271001  Baltimore, MD                     19162.0
367  24510230100  Baltimore, MD                     18931.0
379  24510100200  Baltimore, MD                     18460.0
393  24005492500  Baltimore, MD                         NaN

In [ ]:
df_50th_bmore1=df_50th_baltimore[df_50th_baltimore["Name"] == "Baltimore, MD"]
df_75th_bmore1=df_75th_baltimore[df_75th_baltimore["Name"] == "Baltimore, MD"]

* Nassau data

In [ ]:
df_25th_nas=df_25th_nassau[df_25th_nassau["Name"] == "Baltimore, MD"]
df_50th_nas=df_50th_nassau[df_50th_nassau["Name"] == "Baltimore, MD"]
df_75th_nas=df_75th_nassau[df_75th_nassau["Name"] == "Baltimore, MD"]

# Merge ___

In [ ]:
#Baltimore City
#merge 25th and 50th percentile

df_25_50 = pd.merge(df_25th_bmore1, 
                          df_50th_bmore1[["tract", "Household_Income_rP_gP_p50"]], 
                          how = "left", 
                          on = "tract")

# merge 25th and 50th with 75th percentile
df_25_75 = pd.merge(df_25_50, 
                          df_75th_bmore1[["tract", "Household_Income_rP_gP_p75"]], 
                          how = "left", 
                          on = "tract")

In [ ]:
df_25_75.tail()

          tract  ... Household_Income_rP_gP_p75
28  24510060400  ...                    33959.0
29  24510271001  ...                    27539.0
30  24510230100  ...                    32526.0
31  24510100200  ...                    28908.0
32  24005492500  ...                        NaN

[5 rows x 5 columns]

In [ ]:
# rename x for 2019 and y for 2020 [MAYBE RENAME 25TH, 50TH, ETC]
#df_19_20_merge = df_19_20_merge.rename(columns={"Enrolled Count_x": "Enrolled Count 2019",
#                               "Enrolled Count_y": "Enrolled Count 2020"})

# Calculate ___

# Bar graph of ____

In [ ]:
# sort values

df_25_75 = df_25_75.sort_values(by = "Household_Income_rP_gP_p50")

In [ ]:
# create a bar chart of []

bar_25th = px.bar(df_25_75,x= "tract", y = "Household_Income_rP_gP_p50", title = "Baltimore 25th")

In [ ]:
df_25_75.head()

          tract  ... Household_Income_rP_gP_p75
29  24510271001  ...                    27539.0
31  24510100200  ...                    28908.0
30  24510230100  ...                    32526.0
28  24510060400  ...                    33959.0
27  24510200600  ...                    37037.0

[5 rows x 5 columns]

In [ ]:
bar_25th

In [ ]:
## number of unique tracts
df_25_75["tract"].count()

33

In [ ]:
df_25_75.columns.tolist()

['tract',
 'Name',
 'Household_Income_rP_gP_p25',
 'Household_Income_rP_gP_p50',
 'Household_Income_rP_gP_p75']

In [ ]:
df_25_75

          tract  ... Household_Income_rP_gP_p75
29  24510271001  ...                    27539.0
31  24510100200  ...                    28908.0
30  24510230100  ...                    32526.0
28  24510060400  ...                    33959.0
27  24510200600  ...                    37037.0
25  24510060200  ...                    37582.0
26  24510070100  ...                    39479.0
22  24510280401  ...                    38359.0
16  24005452300  ...                    37860.0
23  24510260900  ...                    44428.0
18  24005421101  ...                    43774.0
15  24003750102  ...                    42030.0
24  24005441000  ...                    48770.0
20  24510272003  ...                    47180.0
17  24003750203  ...                    45177.0
19  24510220100  ...                    50144.0
21  24510120201  ...                    54559.0
8   24005430900  ...                    49391.0
12  24005420600  ...                    53186.0
13  24005491300  ...                    54377.0
11  24005440400  ...                    54976.0
14  24005400702  ...                    58598.0
10  24005420500  ...                    57786.0
7   24510120202  ...                    60146.0
9   24005440100  ...                    63630.0
6   24005491100  ...                    59721.0
5   24005403602  ...                    60236.0
3   24005490603  ...                    60709.0
4   24005490602  ...                    63092.0
2   24005490601  ...                    63814.0
1   24005403601  ...                    72321.0
0   24005491000  ...                    67867.0
32  24005492500  ...                        NaN

[33 rows x 5 columns]

In [ ]:
df_25_75.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 29 to 32
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tract                       33 non-null     int64
 1   Name                        33 non-null     object
 2   Household_Income_rP_gP_p25  32 non-null     float64
 3   Household_Income_rP_gP_p50  32 non-null     float64
 4   Household_Income_rP_gP_p75  32 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.5+ KB

In [ ]:
# make tract a "string" data type
df_25_75["tract"] = df_25_75["tract"].astype(str)

In [ ]:
bar_25_75 = px.bar(df_25_75,
                   x = "tract",
                   y = "Household_Income_rP_gP_p25")

In [ ]:
bar_25_75